@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 入力欄の文字色を見やすくする */
@layer base {
  input,
  textarea,
  select {
    @apply text-gray-900;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray-500;
  }
}
